{% extends "admin/change_form.html" %}

{% load i18n %}

{% block extrahead %}
    <link href="{{ STATIC_URL }}/admin/css/base.css" type="text/css" media="all" rel="stylesheet" />
    <link href="{{ STATIC_URL }}/admin/css/forms.css" type="text/css" media="all" rel="stylesheet" />
    <link href="{{ STATIC_URL }}/admin/css/widgets.css" type="text/css" media="all" rel="stylesheet" />
    <script type="text/javascript" src="{{ STATIC_URL }}/admin/js/core.js"></script>
    {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="../../../">{% trans "Home" %}</a> &rsaquo;
        <a href="../../">{{ app_label|capfirst|escape }}</a> &rsaquo;
        {{ command_name }}
    </div>
{% endblock %}

{% block content %}
    <p>{{ help }}</p>
    <form method="POST">{% csrf_token %}
        {{ form.as_ul }}
        <input type="submit" value="Lancer"/>
    </form>
{% endblock %}
